[Unit]
Description=Unicorn Rental bootstrap Java workload
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory={{APP_DIRECTORY}}
EnvironmentFile={{ENV_FILE_PATH}}
ExecStart=/usr/bin/java --add-modules jdk.httpserver -cp {{APP_DIRECTORY}} UnicornRentalApp
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
